In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# EXCEL FILTER AND EDIT IN PANDAS

In [5]:
import pandas as pd
sales = [('account', ['Jones LLC', 'Alpha Co', 'Blue Inc', 'Mega Corp']),
         ('Total Sales', [150, 200, 75, 300]),
         ('Country', ['US', 'UK', 'US', 'US'])]
df = pd.DataFrame.from_items(sales)
df

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  """

     account  Total Sales Country
0  Jones LLC          150      US
1   Alpha Co          200      UK
2   Blue Inc           75      US
3  Mega Corp          300      US

## Boolean Indexing (selecting row data)

In [6]:
indices = [True, False, True, True] # create a list

It should be no surprise, that you can pass this list to your DataFrame and it will only display the rows where our value is True :

In [7]:
df[indices]

     account  Total Sales Country
0  Jones LLC          150      US
2   Blue Inc           75      US
3  Mega Corp          300      US

This manual list creation of the index works but obviously is not scaleable or very useful for anything more than a trivial data set. Fortunately pandas makes it very easy to create these boolean indexes using a simple query language that should be familiar to someone that has used python (or any language for that matter).

In [8]:
df.Country == 'US'

0     True
1    False
2     True
3     True
Name: Country, dtype: bool

In real code, you would not do this two step process. The shorthand method for doing this would typically look like this:

In [10]:
df[df["Country"] == 'US']

     account  Total Sales Country
0  Jones LLC          150      US
2   Blue Inc           75      US
3  Mega Corp          300      US

In this example, df[df.Country == 'US'] is equivalent to df[df["Country"] == 'US'] **The ‘.’ notation is cleaner but will not work when there are spaces in your column names.**

## Selecting the Columns (selecting column data)

Now that we have figured out how to select rows of data, how can we control which columns to display? In the example above, there’s no obvious way to do that. Pandas can support this use case using three types of location based indexing: *.loc* , *iloc* , and *.ix* . These functions also allow us to select columns in addition to the row selection we have seen so far.

There is a lot of confusion about when to use .loc , iloc , or .ix . The quick summary of the difference is that:

    .loc is used for label indexing
    .iloc is used for position based integers
    .ix is a shortcut that will try to use labels (like .loc ) but will fall back to position based integers (like .iloc )

## Selecting both rows and columns in DF

Now that we have covered this topic, let’s show how to filter a DataFrame on values in a row and select specific columns to display.

In [13]:
df.loc[[True, True, False, True], ["account"]]

     account
0  Jones LLC
1   Alpha Co
3  Mega Corp

In [12]:
df.loc[[True, True, False, True], ["account", "Country"]]

     account Country
0  Jones LLC      US
1   Alpha Co      UK
3  Mega Corp      US

The real power is when you create more complex queries on your data. In this case, let’s show all account names and Countries where sales > 200:

In [14]:
df.loc[df["Total Sales"] > 200, ["account", "Country"]]

     account Country
3  Mega Corp      US

## Editing columns

For one simple example, let’s add a commission rate column to our data:

In [15]:
df["rate"] = 0.02

Let’s say that if you sold more than 100, your rate is 5%. The basic process is to setup a boolean index to select the columns, then assign the value to the rate column:

In [16]:
df.loc[df["Total Sales"] > 100, ["rate"]] = .05 # notice that you select a view and change that view

### FINAL EXERCISE

In [17]:
import pandas as pd
df = pd.read_excel("https://github.com/chris1610/pbpython/blob/master/data/sample-sales-reps.xlsx?raw=true")
df["commission"] = .02
df.head()

KeyboardInterrupt:

In [ ]:
df.loc[df["category"] == "Shirt", ["commission"]] = .025
df.loc[(df["category"] == "Belt") & (df["quantity"] >= 10), ["commission"]] = .04
df.head()

In [ ]:
# double change in the columns
df["bonus"] = 0
df.loc[(df["category"] == "Shoes") & (df["ext price"] >= 1000 ), ["bonus", "commission"]] = 250, 0.045

# Display a sample of rows that show this bonus
df.ix[3:7]

In [ ]:
#  Calculate the compensation for each row
df["comp"] = df["commission"] * df["ext price"] + df["bonus"]

# Summarize and round the results by sales rep
df.groupby(["sales rep"])["comp"].sum().round(2)

sales rep
Ansley Cummings       2169.76
Beth Skiles           3028.60
Esequiel Schinner    10451.21
Loring Predovic      10108.60
Shannen Hudson        5275.66
Teagan O'Keefe        7989.52
Trish Deckow          5807.74
Name: comp, dtype: float64